@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,700,700i,900,900i&display=swap');

body{
    margin: 0 auto;
}

wrapper  {
    font-family: 'Montserrat','sans-serif', 'Courier New';
}

.green-text {
    color: #18CFAB;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.width-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
/*/////////////////////////////*/
header {
    background-image: url("../image/Sections_background/section-1(header).jpg");
    background-size: cover;
}

.nav-bar{
    background-color: rgba(0, 0, 0, 0.5);
}

.head-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-img {
    width: 60px;
    height: 70px;
    margin-right: 5px;
    background-image: url("../image/logo_ham.png");
    background-size: cover;
}

.logo-h {
    display: block;
    margin: 20px;
    font-size: 26px;
    font-weight: 700;

}

.nav-menu {
 position: relative;
}

.nav-btn {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    color: #B8B8B8;
    padding: 40px 6px;
    border-bottom: 2px solid transparent;
}

.nav-btn-search {
    font-size: 17px;
    padding: 38px 6px;
}

.nav-btn:hover{
    color: #18CFAB;
}

.nav-btn-home:hover:before {
    content: "";
    display: block;
    width: 54px;
    position: absolute;
    left: 0;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-about:hover:before {
    content: "";
    display: block;
    width: 60px;
    position: absolute;
    left: 54px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-skills:hover:before {
    content: "";
    display: block;
    width: 56px;
    position: absolute;
    left: 114px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-service:hover:before {
    content: "";
    display: block;
    width: 69px;
    position: absolute;
    left: 170px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-work:hover:before {
    content: "";
    display: block;
    width: 56px;
    position: absolute;
    left: 239px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-test:hover:before {
    content: "";
    display: block;
    width: 102px;
    position: absolute;
    left: 295px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-blog:hover:before {
    content: "";
    display: block;
    width: 50px;
    position: absolute;
    left: 397px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-team:hover:before {
    content: "";
    display: block;
    width: 50px;
    position: absolute;
    left: 447px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-contact:hover:before {
    content: "";
    display: block;
    width: 76px;
    position: absolute;
    left: 497px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-contact:hover:before {
    content: "";
    display: block;
    width: 76px;
    position: absolute;
    left: 497px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
.nav-btn-search:hover:before {
    content: "";
    display: block;
    width: 28px;
    position: absolute;
    left: 573px;
    bottom: -2px;
    border: 0 solid transparent;
    border-top: 2px solid #18CFAB;
}
/*/////////////////////////////*/
.wrapper-fist-block-creative {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 125px 0;
}

.first-block-title-1{
    display: block;
    text-align: center;
    color: white;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;

}

.first-block-title-2{
    display: block;
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 69px;
    font-weight: 600;
    text-transform: uppercase;
}

.first-block-title-3{
    display: block;
    color: white;
    font-size: 30px;
}

.first-block-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.btn-in-first-block {
    display: inline-block;
    padding: 15px 0;
    margin: 10px;
    width: 165px;
    text-align: center;
    border-radius: 4px;
    border-top: 2px solid white;

    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #18CFAB;
}

.btn-in-first-bgk {
    background-color: #00CBF6;
}
/*/////////////////////////////*/

.head-bottom-btn {
    display: inline-block;
    width: 25%;
    height: 375px;
    text-align: center;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: #1C2A33;
    border-top: 2px solid #18CFAB;
    background-position: bottom 65% left 50%;
    background-repeat: no-repeat;
}

.head-bottom-btn-bgc {
    background-color: #18CFAB;
    border-top: 2px solid white;
}

.icon-1 {
    background-image: url(../image/Forma_1.png);
}

.icon-2 {
    background-image: url(../image/Forma_2.png);
}

.icon-3 {
    background-image: url(../image/Forma_3.png);
}

.icon-4 {
    background-image: url(../image/Forma_4.png);
}
/*/////////////////////////////*/
.head-bottom-text {
position: relative;
top: 270px;
}

.our-services {
    padding-top: 70px;
    text-align: center;
    margin-bottom: 100px;
}

.title {
    font-size: 36px;
    margin: 0 70px 70px;
    font-weight: normal;
}

.lines {
    display: inline-block;
    width: 90px;
    height: 5px;
    margin-bottom: 55px;
    border-top: 1px solid #18CFAB;
    border-bottom: 1px solid #18CFAB;
    transform: skewX(80deg);
}

.nav-menu-our-service {
    padding: 0;
    position: relative;
}

.btn-our-service {
    display: inline-block;
    width: 191px;
    padding: 15px 0 15px 0;
    font-size: 16px;
    text-decoration: none;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EBECEC;
    margin-bottom: 15px;
}

.active-our-service-btn {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: white;
}

.btn-our-service:hover {
    background-color: #18CFAB;
    border: 1px solid #18CFAB;
    color: white;
    cursor: pointer;
}

.btn-our-web:hover:after {
    content: '';
    position: absolute;
    left: 91px;
    bottom: -4px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
.btn-our-graphic:hover:after {
    content: '';
    position: absolute;
    left: 282px;
    bottom: -4px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
.btn-our-support:hover:after {
    content: '';
    position: absolute;
    left: 473px;
    bottom: -4px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
.btn-our-app:hover:after {
    content: '';
    position: absolute;
    left: 667px;
    bottom: -4px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
.btn-our-market:hover:after {
    content: '';
    position: absolute;
    left: 859px;
    bottom: -4px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
.btn-our-seo:hover:after {
    content: '';
    position: absolute;
    left: 1052px;
    bottom: -4px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
}
/*////////////////////////////////////*/
.active-our-service-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.photo-our-service {
    background-size: cover;
    overflow: hidden;
    display: inline-block;
    width: 193px;
    height: 140px;
}

.text-our-service {
    display: inline-block;
    height: 140px;
    width: 927px;
    text-align: justify;
    line-height: 21px;
}
/*////////////////////////////////////*/
.everything-ready {
    background-image: url("../image/Sections_background/section-2.jpg");
    background-position: center 45%;
}

.ever-dark-bcg {
    background: rgba(0, 0, 0, 0.6);
}

.ever-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 470px;
}

.ever-title {
    display: block;
    text-transform: uppercase;
    font-size: 40px;
    color: #18CFAB;
    margin-top: 125px;
    margin-bottom: 25px;
}

.ever-subtitle {
    font-size: 16px;
    color: #CDCDCD;
    margin: 0 0 55px;
}

.ever-btn {
    display: inline-block;
    padding: 20px 0;
    width: 165px;
    text-align: center;
    border-radius: 4px;
    border-top: 2px solid white;

    text-decoration: none;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    background-color: #18CFAB;
}
/*///////////////////////////////////////*/
.our-amazing-work {
    text-align: center;
    border-bottom: 1px solid #E1E1E1;
    background-color: #F8FCFE;
    padding-top: 70px;
}

.nav-menu-our-amazing {
    padding: 0;
    position: relative;
}

.btn-our-amazing {
    display: inline-block;
    padding: 15px;
    font-size: 14px;
    text-decoration: none;
    color: #7A7A7A;
    background-color: white;
    margin: 0 0 55px;
    border-top: 2px solid transparent;
    outline: 1px solid  #EBEBEB;
    cursor: pointer;
}

.btn-our-amazing-active {
    border-top: 2px solid #18CFAB;
    color: #18CFAB;
}

.btn-our-amazing:hover {
    border-top: 2px solid #18CFAB;
    color: #18CFAB;
}

.gallery-amazing-container {
    margin-bottom: 55px;
    background-color: #F8FCFE;
    border-bottom: 1px solid #E1E1E1;
}

.gallery-amazing-content {
    display: grid;
    grid-gap: 0;
}

.gallery-amazing-graphic-cont{
    grid-template-rows: 210px 210px 210px;
    grid-template-columns: 290px 290px 290px 290px;
}
.gallery-amazing-web-cont {
    grid-template-rows: 210px 210px;
    grid-template-columns: 290px 290px 290px 290px;
}
.gallery-amazing-landing-cont{
    grid-template-rows: 210px 210px;
    grid-template-columns: 290px 290px 290px 290px;
}
.gallery-amazing-wordpress-cont{
    grid-template-rows: 210px 210px;
    grid-template-columns: 290px 290px 290px 290px;
}
.gallery-amazing-load-12-cont {
    display: grid;
    grid-template-rows: 210px 210px 210px;
    grid-template-columns: 290px 290px 290px 290px;
}

.img-gallery-amazing {
    width: 290px;
    height: 210px;
}

.gallery-amazing-item-label {
    border-top: 4px solid #18CFAB;
    background-color: #F8FCFE;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.icon-gal-am {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid   #18CFAB;
    border-radius: 50%;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 5px;
}
.gallery-amazing-icon-link {
    background-image: url("../image/icon_am_link.png");
    background-repeat: no-repeat;
    background-position: center 50%;
}
.gallery-amazing-icon-search{
    background-image: url("../image/icon_am_search.png");
    background-repeat: no-repeat;
    background-position: center 50%;
    background-color: #18CFAB;
    background-size: 40%;
}
.gallery-amazing-title-item {
    display: inline-block;
    text-transform: uppercase;
    color: #18CFAB;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
.gallery-amazing-subtitle-item {
    font-size: 20px;
}
.our-amazing-btn {
    display: inline-block;
    padding: 15px 0;
    width: 165px;
    height: 45px;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 50px;
    box-sizing: border-box;

    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #18CFAB;
    cursor: pointer;
}

.fa-plus {
    margin-right: 10px;
}
.fa-spinner:before {
    font-size: 30px;
}

.fa-pulse {
    position: relative;
    top: -15px;
}
/*//////////////////////////////////*/
.breaking-news-container {
    padding-bottom: 100px;
    text-align: center;
    padding-top: 70px;
    position: relative;
}

.wrap-news-gallery {
    display: grid;
    grid-template-rows: 280px 280px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 35px 20px;
}

.news-item {
    text-decoration: none;
    display: grid;
    grid-template-rows: 210px 70px;
    position: relative;
}

.news-date-cont {
    background-color: #203E38;
    width: 70px;
    padding: 15px 0 15px;
    position: absolute;
    right: 0;
}

.news-date {
    display: block;
    color: white;
    font-size: 16px;

}

.news-item-bg1{
    background-image: url('../image/Breaking_news/breaking_news1.png');
    background-size: cover;
}
.news-item-bg2{
    background-image: url('../image/Breaking_news/breaking_news2.png');
    background-size: cover;
}
.news-item-bg3{
    background-image: url('../image/Breaking_news/breaking_news3.png');
    background-size: cover;
}
.news-item-bg4{
    background-image: url('../image/Breaking_news/breaking_news4.png');
    background-size: cover;
}
.news-item-bg5{
    background-image: url('../image/Breaking_news/breaking_news5.png');
    background-size: cover;
}
.news-item-bg6{
    background-image: url('../image/Breaking_news/breaking_news6.png');
    background-size: cover;
}
.news-item-bg7{
    background-image: url('../image/Breaking_news/breaking_news7.png');
    background-size: cover;
}
.news-item-bg8{
    background-image: url('../image/Breaking_news/breaking_news8.png');
    background-size: cover;
}

.breaking-news-img {
    width: 275px;
    height: 210px;
}

.news-item-label{
    background-color: #F8FCFE;
    border: 1px solid #EBEBEB;
    padding: 10px 0 10px;
}

.news-item-label-title {
    margin: 0 0 10px;
    color: #717171;
    font-weight: bold;
}

.news-item-label-subtitle {
    font-size: 14px;
    color: #717171;
    font-weight: lighter;
}
/*/////////////////////////////////*/
.people-say-container {
    background-image: url("../image/Sections_background/section-3.jpg");
    background-position: 0 -89px;
    margin-bottom: 50px;

}

.people-say-dark-bgc {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 75px 0 50px;
    text-align: center;
    color: white;
}

.quote {
    width: 44px;
    height: 30px;
    background-image: url("../image/quote1.png");
    background-size: cover;
    margin: 35px auto;
}

.people-say-persons {
    text-align: center;
    margin-bottom: 50px;
}

.people-say-text {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    line-height: 2;
}

.people-say-persona-name {
    font-size: 16px;
    color: #18CFAB;
}

.people-say-persona-skill {
    display: block;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 20px;
    color: #A3A7A8;
}

.people-say-persona-photo-bgk {
    background-color: rgba(10, 81, 67, 0.7);
    display: inline-block;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

.people-say-persona-photo {
    display: inline-block;
    width: 118px;
    height: 118px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid #19cfab;
}
/*/////////////////////////////////*/
.people-say-menu-container {
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.people-say-menu-arrow-btn {
    display: inline-block;
    padding: 6px 13px;
    border: 1px solid white;
    margin: 20px;
    font-size: 22px;
}

.people-say-menu-arrow-btn:hover {
    border: 1px solid #18CFAB;
    background: #18CFAB;
}

.people-say-persona-photo-icon {
    display: inline-block;
    margin: 10px;
    width: 60px;
    height: 60px;
    border: 4px solid rgba(10, 81, 67, 0.7);
    border-radius: 50%;
}

.people-say-persona-photo-icon:hover {
    position: relative;
    top: -10px;
}

.say-active {
    position: relative;
    top: -10px;
}

.gallery-image-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gallery-image-container {
    text-align: center;
}

.fot {
    padding: 25px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #22353F;
    color: #767E82;
}

.linc-ham {
    text-decoration: none;
}
/*/////////////////////////////////*/
.not-active {
    display: none;
}
